<div class="jumbotron">
  <p class="lead">
    <img src="images/Octocat.png" alt="I'm Yeoman"><br>
  </p>
  <h1>Issues Finder</h1>
  <p>Enter github username and repository here</p>
  <form ng-submit="searchAction()">

    <div class="input-group">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-user"></i>
      </span>
      <input type="text" class="form-control" placeholder="Username" ng-model="user">
    </div>

    <div class="input-group">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-inbox"></i>
      </span>
      <div class="input-group-control">
        <div class="suggestion-list" ng-show="suggestionDisplay">
          <div class="suggestion-item text-center">Select a Repository</div>
          <div class="suggestion-item text-center" ng-show="suggestionMessage">{{suggestionMessage}}</div>
          <div class="suggestion-item text-center" ng-show="suggestionLoading"><i class="fa fa-spin fa-spinner fa-log"></i> Fetching repositories ...</div>
          <div class="suggestion-item hover" ng-repeat="suggestion in suggestions | filter: {name: repo}" ng-click="showRepo(suggestion.name); $event.stopPropagation();">{{suggestion.name}}</div>
        </div>
        <input type="text" class="form-control" placeholder="Repository" ng-model="repo" ng-focus="loadSuggestion()" ng-blur="timeoutHideSuggestion()" ng-click="$event.stopPropagation();">
      </div>
    </div>

    <div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>

    <div>
      <button id="search-btn" class="btn btn-success btn-block" type="submit">Find Issues <i class="glyphicon glyphicon-search"></i> </button>
    </div>

  </form>
</div>